<%- # TODO: there have to be better ways of doing this that utilize the action names -%>
<ul class="breadcrumb">
  <li>
    <%- if local_assigns.has_key?(:endpoint) and endpoint == 'Nodes' -%>
      Nodes<span class="divider">/</span>
    <%- else -%>
      <%= link_to('Nodes',nodes_path) %><span class="divider">/</span>
    <%- end -%>
  </li>

  <%- if @node_scope and (!local_assigns.has_key?(:endpoint) or endpoint != display_node_scope) -%>
  <li><%= link_to(display_node_scope,details_nodes_path(node_scope: @node_scope)) %><span class="divider">/</span></li>
  <%- end -%>

  <%- if local_assigns.has_key?(:endpoint) and endpoint != 'Nodes'-%>
  <li class='active'><%= endpoint %></li>
  <%- end -%>
</ul>

