<table class="table table-bordered table-striped">
  <thead>
    <tr>
        <th>Page</th>
        <th>Views</th>
        <th>% Change Week</th>
        <th>% Change Year</th>
    </tr>
  </thead>
  
  <tbody>
    <%- for page in pagelist -%>
    <%- stats_for_week = page.stats_for_week('unique_pageviews') -%>
  	<tr>
      <%- if page.title.blank? 
          title = '(blank)' 
        else
          title = page.title.truncate(80, :separator => ' ')
        end -%>
      <td><%= link_to(title,page_path(page)) %></td>
      <td><%= stats_for_week['total'] %></td>
      <td><%= pct_change(stats_for_week['pct_change_week'])%></td>
      <td><%= pct_change(stats_for_week['pct_change_year'])%></td>
    </tr>
  <%- end -%>
  </tbody>
</table>


