    <div class="container">
		<div class="hero-unit">
		  <h1>Winter Is Coming</h1>
		  <p>So is data. And hopefully before winter. While waiting, <a href="http://blogs.extension.org/data">check out the blog</a>.</p>
		</div>
    </div>
