		<div class="hero-unit">
		  <h1>Coming Soon</h1>
		  <p>We are still working on collecting data and building out the data.extension.org site.</p>
		</div>

<div class="row">

  <div class="span4">
    <h2>Pages</h2>
    <p>Donec id elit non mi porta gravida at eget metus. Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh, ut fermentum massa justo sit amet risus. Etiam porta sem malesuada magna mollis euismod. Donec sed odio dui. </p>
    <p><%= link_to("View details &raquo;".html_safe,pages_path,:class => 'btn') %></p>
  </div>


  <div class="span4">
    <h2>Nodes</h2>
    <p>Donec id elit non mi porta gravida at eget metus. Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh, ut fermentum massa justo sit amet risus. Etiam porta sem malesuada magna mollis euismod. Donec sed odio dui. </p>
    <p><%= link_to("View details &raquo;".html_safe,nodes_path,:class => 'btn') %></p>
  </div>


  <div class="span4">
    <h2>Groups</h2>
    <p>Donec id elit non mi porta gravida at eget metus. Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh, ut fermentum massa justo sit amet risus. Etiam porta sem malesuada magna mollis euismod. Donec sed odio dui. </p>
    <p><%= link_to("View details &raquo;".html_safe,groups_path,:class => 'btn') %></p>
  </div>

</div