<%- # TODO: there have to be better ways of doing this that utilize the action names -%>
<ul class="breadcrumb">
  <li>Contributors<span class="divider">/</span></li>
  <li><%= link_to(@contributor.fullname, contributor_path(@contributor)) %><span class="divider">/</span></li>

  <%- if @datatype and (!local_assigns.has_key?(:endpoint) or endpoint != @datatype.pluralize) -%>
  <li><%= link_to("#{@datatype.pluralize}",details_pages_path(datatype: @datatype, contributor_id: @contributor.id)) %><span class="divider">/</span></li>
  <%- end -%>

  <%- if local_assigns.has_key?(:endpoint) and endpoint != 'Pages'-%>
  <li class='active'><%= endpoint %></li>
  <%- end -%>
</ul>
