  <div id="plot_for_<%= datakey %>"></div> 
  <script class="code" type="text/javascript">
    $(document).ready(function(){
      setTimeout(function(){
      var data = <%= data[datakey].to_json.html_safe %>;
      var plot1 = jQuery.jqplot("plot_for_<%= datakey %>", [data], 
        {
          axesDefaults: {
            pad: 0
          },
          axes: {
            xaxis: {
              renderer: $.jqplot.DateAxisRenderer,
              tickOptions:{
               formatString:'%b&nbsp;%d&nbsp;%Y'
              }
            },
            yaxis: {
              <%- if datakey != 'change' -%>
              min: 0,
              <%- end -%>
              <%- if datakey == 'seen_pct' -%>
              max: 100,
              <%- end -%>
            } 
          },
          seriesDefaults: {
            <%- if local_assigns.has_key?(:fill) and fill == true -%>
            fill: true,
            <%- end -%>
            showMarker: false,
            shadow: false
          },
          grid: {
              drawBorder: false,
              shadow: false,
              background: "white"
          },
          cursor: {
            show: true,
            zoom: true,
          }
        }
      );
    }, 100);
    });
  </script>
