  <div id="plot_for_percentiles"></div> 
  <script class="code" type="text/javascript">
    $(document).ready(function(){
      setTimeout(function(){
      var data = <%= data.to_json.html_safe %>;
      var labels = <%= labels.to_json.html_safe %>;
      var plot1 = jQuery.jqplot("plot_for_percentiles", data, 
        {
          axesDefaults: {
            pad: 0
          },
          axes: {
            xaxis: {
              renderer: $.jqplot.DateAxisRenderer,
              tickOptions:{
               formatString:'%b&nbsp;%Y'
              }
            },
            yaxis: {
              min: 0,
            } 
          },
          seriesDefaults: {
            showMarker: false,
            shadow: false
          },
          legend: {
              show: true,
              renderer: $.jqplot.EnhancedLegendRenderer,
              placement: "outsideGrid",
              labels: labels,
              location: "ne",
              rowSpacing: "2px",
              border: "0px",
              rendererOptions: {
                  // set to true to replot when toggling series on/off
                  // set to an options object to pass in replot options.
                  seriesToggle: 'normal',
                  seriesToggleReplot: {resetAxes: true}
              }
          },
          grid: {
              drawBorder: false,
              shadow: false,
              background: "white"
          }
        }
      );
    }, 100);
    });
  </script>
