<div class="row">
  <div class="span12">
	  <h3>Node Event History</h3>
	    <table class="table table-bordered">
        <thead>
          <tr>
            <th>When</th>
            <th>What</th>
            <th>Who</th>
          </tr>
        </thead>
        <tbody>
          <%- node.node_events.order("created_at DESC").each do |ne| -%>
          <tr>
            <td><%= ne.created_at.to_s %></td>
            <td><%= ne.event_to_s %></td>
            <td><%= ne.user.fullname %></td>
          </tr>
          <%- end -%>
        </tbody>
      </table>
  </div>
</div>
