  <div id="traffic_plot_<%= page.id %>" style="height:160px; width:600px;"></div>
  <script class="code" type="text/javascript">
    $(document).ready(function(){
      setTimeout(function(){
      var data = <%= page.stats_by_yearweek('unique_pageviews').to_graph_data('total').to_json.html_safe %>;
      var plot1 = jQuery.jqplot ("traffic_plot_<%= page.id %>", data,
        {
          axesDefaults: {
            pad: 0
          },
          axes: {
            xaxis: {
              renderer: $.jqplot.DateAxisRenderer,
              tickOptions:{
               formatString:'%b&nbsp;%#d&nbsp;%Y'
              }
            }
          },
          seriesDefaults: {
            showMarker: false,
            shadow: false
          },
          grid: {
              drawBorder: false,
              shadow: false,
              background: "white"
          },
          highlighter: {
            show: true,
            sizeAdjust: 7.5
          },
          cursor: {
            show: true,
            zoom: true,
            showTooltip: false,
          }
        }
      );
    }, 100);
    });
  </script>
