<%- if @group.nil? 
      @page_title = "#{@datatype.pluralize} Graphs "
      @page_title_display = "#{@datatype.pluralize} Graphs "
    else
      @page_title = "#{@datatype.pluralize} Graphs for Group ##{@group.id}"
      @page_title_display = "#{@datatype.pluralize} Graphs for #{@group.name}"
    end
-%>
<%= render(:partial => 'page_breadcrumbs', :locals => {:endpoint => "#{@datatype} graphs"}) %>
<header class="jumbotron subhead" id="overview">
  <h1><%= @page_title_display %></h1>
  <%= render(:partial => 'date_changing_lead')%>
</header>

<%= render(:partial => 'graphs', :locals => {:percentiles_data => @percentiles_data, :percentiles_labels => @percentiles_labels, :graph_data => @graph_data})%>     





