<%= render(:partial => 'experiments_breadcrumbs', :locals => {:endpoint => 'Ask an Expert By Week'}) %>


<div class="row">
  <div class="span12">
    <h3>Questions</h3>
    <%= render(:partial => 'shared/line_plot', :locals => {:data => @question_stats.to_graph_data('questions'), :datalabel => 'questions'})%>
  </div>
</div>

<div class="row">
  <div class="span12">
    <h3>Experts</h3>
    <%= render(:partial => 'shared/line_plot', :locals => {:data => @expert_stats.to_graph_data('experts'), :datalabel => 'experts'})%>
  </div>
</div>

<div class="row">
  <div class="span12">
    <h3>Average Initial Response Time (Hours)</h3>
    <%= render(:partial => 'shared/line_plot', :locals => {:data => @responsetime_stats.to_graph_data('responsetime'), :datalabel => 'responsetime'})%>
  </div>
</div>