/* app banner
-----------------------------------------------------------------------------*/
ul.extension_global_nav {background:#53586d !important; }
ul.extension_global_nav a {color:#ddd !important;}

